.container {
  
 width:90%;
 margin: auto;
 
 
  
  
}
.long {
  width:90%;
  margin-left:60px;
  
}
.anakin {
  position:relative;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  
}
.title {
 
  font-family: 'Merriweather', serif;
  width:90%;
  border:0.1px solid lightgrey;
  margin-left:auto;
  margin-right:auto;
  
  
  
    
    
}
.text {
  font-family: 'Merriweather', serif;
  position:absolute;
  top:60px;
  left:15px;
 
}
img {
  max-width:100%;
}

.together {
  font-family: 'Merriweather', serif;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  color:white;
  background:grey;
  height:150px;
  text-align: center;
  padding:35px;
  
  width:60%;
  
  
  
}
#line {
position:absolute;
top:0px;
left:5px;  
 

}
.first {
 
position:relative;

margin:50px;   
  
 
  
}
.find {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  color:white;
  background:grey;
  height:150px;
  text-align: center;
  padding:35px;
  font-family: 'Merriweather', serif;
  width:60%;
  
  
    
}

h3 {
position:relative;
font-family: 'Josefin Sans', sans-serif;
color:;   
}

#third {
  
  position:absolute;
  top:0;
  left:0;
  
}
h2 {
  position:relative;
  
}

.when {
  font-family: 'Merriweather', serif;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  color:white;
  background:grey;
  height:150px;
  text-align: center;
  padding:35px;
  width:60%;
}
#fourth {
  position:absolute;
  top:0px;
  left:0px;
}